.chatbot-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    max-width: 400px;
    max-height: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9998;
  }
  
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .floating-button .logo {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  